<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Heladera</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: white;
        }

        form {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: 500;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .btn-cancelar,
        .btn-agregar {
            border: none;
            padding: 10px 20px; /* Adjusted padding to prevent text overflow */
            vertical-align: middle;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            margin: 15px;
            width: auto; /* Adjusted width to auto */
            white-space: nowrap; /* Prevent text from wrapping */
            text-align: center; /* Center text inside the button */
        }

        .btn-cancelar {
            background-color: #B7C9C7;
            color: #1e5552;
        }

        .btn-cancelar:hover {
            background-color: #9aacab;
            color: #143c3a;
        }

        .btn-agregar {
            background-color: #002B80;
            color: white;
        }

        .btn-agregar:hover {
            background-color: #00215c;
            color: white;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
        }


    </style>
</head>

<body>

{{>header}}

<main>
    <div class="container">
        <h1 style="font-family: 'Poppins', sans serif; font-weight:700; color: #1e5552" class="mb-5 d-flex justify-content-center">Agregar heladera</h1>
        <form action="/agregarHeladera" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Heladera Campus UTN" required>
                </div>
                <div class="col-md-6">
                    <label for="fechaInicio" class="form-label">Fecha de inicio de funcionamiento</label>
                    <input type="date" class="form-control" name="fecha-inicio" id="fechaInicio" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="temperaturaMaxima" class="form-label">Temperatura maxima</label>
                    <input type="text" class="form-control" name="temperaturaMaxima" id="temperaturaMaxima" required>
                </div>
                <div class="col-md-6">
                    <label for="temperaturaMinima" class="form-label">Temperatura minima</label>
                    <input type="text" class="form-control" name="temperaturaMinima" id="temperaturaMinima" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="direccion" class="form-label">Dirección heladera (opcional)</label>
                    <input type="text" class="form-control" name="direccion" id="direccion">
                </div>
                <div class="pl-3" style="padding-top: 40px">
                    <input type="checkbox" id="checkDireccion" name="checkDireccion" onclick="toggleDireccion()">
                    <label for="checkDireccion" class="ml-2 mb-0">Usar mi direccion cargada</label>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="capacidad" class="form-label">Capacidad (cant. de viandas)</label>
                    <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="18" required>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="activa" class="form-label">¿Está activa?</label>
                    </div>
                    <select class="form-select form-control" id="activa" name="activa" required>
                        <option value="" disabled selected>Selección</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>

            <div class="  mb-3">
                <div>
                    <label for="ubicacion" class="form-label">Puntos de colocación recomendados</label>
                </div>
                <select class="form-select form-control" id="ubicacion" name="ubicacion">
                    <option selected disabled>Seleccione una ubicación</option>
                    <option value="Mozart 2300, CABA">Mozart 2300, CABA</option>
                    <option value="Av. Rivadavia 3456, CABA">Av. Rivadavia 3456, CABA</option>
                    <option value="Parque Centenario, CABA">Parque Centenario, CABA</option>
                    <option value="Campus UTN, CABA">Campus UTN, CABA</option>
                </select>
            </div>

            <div class="btn-group d-flex justify-content-center">
                <button type="button" class="btn-cancelar" onclick="window.location.href='/mapaHeladeras'">Cancelar</button>
                <button type="submit" class="btn-agregar">Agregar</button>
            </div>
        </form>
    </div>

    {{#errorHeladera}}
        <div class="error-message">{{errorHeladera}}</div>
    {{/errorHeladera}}

</main>

{{>footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>
</body>

</html>