<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a Font Awesome para el ícono de lupa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
         body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            height: 100%; /* Asegura que el body y html ocupen el 100% de la altura */
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header .navbar-nav .nav-link {
            font-size: 17px !important; /* Ajusta el tamaño de la fuente de los enlaces de navegación en el header */
        }
        nav {
            margin-top: 20px; /* Ajusta el valor según el espacio deseado */
        }

        /*Dropdown*/
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .dropdown-menu {
            background-color: #ffffff;
            color: #1e5552;
            font-size: 16px;
            font-weight: normal;
        }

        .navbar-light .dropdown-menu {
            width: 200px;
        }
        .navbar-light .dropdown-menu a.dropdown-item {
            color: #1e5552;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            width: 200px;

        }

        .navbar-light .dropdown-menu a.dropdown-item:hover {
            background-color: #ffffff;
            margin: 0;
            width: 200px;
        }

        /*fin dropdown*/

        main {
            flex-grow: 1;
            padding: 0px;
            background-color: white;
            height: 80vh;
        }

        .btn-donar {
            background-color: black;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
        }

        .header-title {
            font-weight: 900;
        }

        .sub-header {
            font-weight: 600;
        }

        .form-inline {
            margin-bottom: 20px;
        }	

        .puntaje-column {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-right: auto;
        }

        .catalog-item {
            background-color: #d9ede8;
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            margin-bottom: 30px;
        }

        .catalog-item img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .search-bar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 20px;
        }

        .input-group {
            max-width: 300px; /*ancho de la search bar*/
        }

        .search-bar input {
            border-radius: 5px;
            padding: 10px 20px;
            width: 100%;
        }

        .input-group-append .input-group-text {
            border: none;
            background-color: white;
            border-radius: 0;
        }

        .catalog-grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .catalog-item-container {
            flex-basis: calc(20% - 10px);
            margin-right: 5px;
            margin-bottom: 20px;
        }

        .catalog-item-container:nth-child(5n) {
            margin-right: 0;
        }

        .add-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #1e5552;
            color: white;
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            text-align: center;
            border-radius: 30px;
            z-index: 1000;
        }

        .add-button:hover {
            background-color: #1e5552;
            color: white;
        }


        .add-button i {
            margin-right: 10px;
        }


        h4 {
            font-size: 16px; /* Ajusta el tamaño de la fuente de los headers */
        }
        .info-container a {
            margin-bottom: 5px; /* Espacio entre los enlaces */
            color: white; /* Color del texto */
            text-decoration: none; /* Quita el subrayado de los enlaces */
        }

        .btn-primary{
            background-color: #1e5552;
            color: white;
        }

        .btn-primary:hover{
            background-color: #1e5552;
            color: white;
        }
        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }


        .footer-bg {
            background-color: #B7C9C7; /* Color de fondo */
            padding: 20px 0; /* Espaciado superior e inferior */
        }
        .social-icons a {
            margin-right: 15px; /* Espacio entre iconos de redes sociales */
            color: white; /* Color de texto para iconos */
        }
        .footer-link {
            color: white; /* Color de texto para enlaces */
            text-decoration: none; /* Eliminar subrayado */
        }
        .footer-link:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }

        .social-icon {
            margin-right: 10px; /* Espacio entre el ícono y el texto */
        }
    </style>
</head>

<body>
<header>
    <div>
        <a href="/inicio">
            <img src="/static/logo.png" alt="Logo" style="max-height: 50px;">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/elegirDonacion">Donar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapaHeladeras">Heladeras</a>
                </li>
                <!-- Menú desplegable -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nombreUsuario}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/perfil">Mi perfil</a>
                        <a class="dropdown-item" href="/misColaboraciones">Mis colaboraciones</a>
                        <a class="dropdown-item" href="/canjearPuntos">Mi puntaje</a>
                        <a class="dropdown-item" href="/misReportes">Mis reportes</a>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="header-title">Catálogo</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <form class="form-inline" method="GET" action="/catalogoProductos">
                        <label class="my-1 mr-2" for="filterSelect">Filtrar por:</label>
                        <select class="custom-select my-1 mr-sm-2" id="filterSelect" name="filter">
                            <option selected>Elegir...</option>
                            <option value="1">SERVICIO</option>
                            <option value="2">PRODUCTO</option>
                            <option value="3">Todos</option>
                        </select>
                        <button type="submit" class="btn btn-primary my-1">Aplicar</button>
                    </form>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar producto">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <p> </p>
                </div>
            </div>
            <div class="row catalog-grid">
                <!-- elementos del catálogo -->
                {{#ofertas}}
                <div class="catalog-item-container">
                    <div class="catalog-item">
                        <img src="/static/http://localhost:8080/images/{{imagen}}" alt="Descripción">
                        <p>{{nombre}}</p>
                        <p>{{descripcion}}</p>
                        <p>{{puntosNecesarios}}</p>
                    </div>
                </div>
                {{/ofertas}}
            </div>
        </div>
    </div>

</main>

{{#esPersonaJuridica}}
<!-- botón flotante -->
<a class="add-button" href="/agregarProductosEmpresa">
    <i class="fas fa-plus"></i> Agregar Producto
</a>
{{/esPersonaJuridica}}




<footer class="footer-bg">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-3 text-center text-md-left">
                <img src="/static/logo.png" alt="Logo" class="img-fluid mb-2" style= "max-height: 90px;"> <!-- Reemplaza con tu logo -->
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Más Información -->
                    <div class="col-md-4">
                        <h5>Más información</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Contáctanos</a></li>
                            <li><a href="#" class="footer-link">Sobre nosotros</a></li>
                            <li><a href="#" class="footer-link">Sobre el proyecto</a></li>
                        </ul>
                    </div>

                    <!-- Donar -->
                    <div class="col-md-4">
                        <h5>Donar</h5>
                        <ul class="list-unstyled">
                            <li><a href="/donarVianda" class="footer-link">Donar vianda</a></li>
                            <li><a href="/mapaHeladeras" class="footer-link">Ver mapa</a></li>
                        </ul>
                    </div>

                    <!-- Dónde encontrarnos -->
                    <div class="col-md-4">
                        <h5>Dónde encontrarnos</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link"><img src="/static/facebook-icon.png" alt="Facebook" style="max-height: 20px;" ><i class="fab fa-facebook-f social-icon"></i>Facebook</a></li>
                            <li><a href="#" class="footer-link"><img src="/static/instagram-icon.png" alt="Instagram" style="max-height: 20px;"><i class="fab fa-instagram social-icon"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
