<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donar Dinero</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 20px;
            background-color: white;
        }

        .date-fields {
            background-color: white;
        }

        #mesExpir, #anioExpir, #frecuenciaDonacion {
            background-color: white;
            border: 1px solid #ccc;
            font-size: 16px;
            padding: 10px; /* Espaciado interno */
            border-radius: 4px; /* Bordes redondeados */
            margin-bottom: 10px;
        }


        #mesExpir:focus, #anioExpir:focus, #frecuenciaDonacion:focus {        /* Para cuando el campo esté seleccionado */
            outline: none; /* Elimina el borde de enfoque por defecto */
            border-color: #ccc; /* El borde sigue siendo del color deseado */
            background-color: white; /* Mantiene el fondo de color */
        }

        .btn-agregar-producto {
            background-color: #1e5552;
            color: white;
        }

        .card {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        .card-body {
            text-align: center;
        }

        .placeholder-img {
            background-color: gray;
            height: 150px;
        }

        .form-group input{
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 10px;
            width: 100%;
        }


        .form-group button {
            background-color: black;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .checkbox-container {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;
            align-items: center;
            margin-bottom: 15px;
        }


        @media (max-width: 768px) {
            .card {
                max-width: 100%;
            }
        }

        .volver-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          /*  margin-bottom: 20px;
            margin-left: 0px;
            margin-top: 20px; */
            position: relative;
            top: 0;
            left: 0;  /* Pega el contenedor al margen izquierdo */
            padding-left: 0; /*  Asegura que no haya relleno en el lado izquierdo */
            margin: 20px 0 20px 0; /* Solo márgenes arriba y abajo */
            padding: 0; /* Elimina cualquier relleno extra */
            position: relative; /* Si necesitas que se mueva relativo a su contenedor */
            width: 100%; /* Extiende el contenedor a todo el ancho */
        }

        .volver-link {
            color: #1e5552;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 5px; /* Espacio entre el ícono y el texto */
            margin: 0; /* Elimina cualquier margen adicional */
            padding: 0; /* Elimina relleno */
        }

        .volver-link i {
            font-size: 18px;
        }

        .donar-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .donar-container h2 {
            margin-bottom: 20px;
        }

        .donar-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .donar-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

         .error-message {
             color: red;
             font-size: 14px;
             margin-top: 10px;
         }
        .btn-donar {
            background-color: #002B80;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight:600;
        }
        .btn-donar:hover {
            background-color: #00215c;
            text-decoration: none;
        }

    </style>
</head>

<body>

{{>header}}

<main class="container mb-5 mt-3">
    <h1 style="font-weight:700; font-family: 'Poppins', sans serif; color: #1e5552">Donar Dinero</h1>
    <p class="mb-5" style="font-family: 'Poppins', sans serif;">Complete el formulario para donar dinero a nuestra organizacion solidaria.</p>
    <div class="donar-container">

        <form action="/donarDinero" method="post" >
            <label for="monto">Monto para donar</label>
            <input type="text" id="monto" name="monto" required>

            <label for="nombreTarj">Nombre Titular Tarjeta</label>
            <input type="text" id="nombreTarj" name="nombreTarj" required>

            <label for="numTarj">Numero de Tarjeta</label>
            <input type="text" id="numTarj" name="numTarj" required>

            <div class="date-fields">
                <label>Vencimiento de Tarjeta</label>
                <select id="mesExpir" name="mesExpir" required>
                    <option value="" disabled selected>Mes</option>
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

                <select id="anioExpir" name="anioExpir" required>
                    <option value="" disabled selected>Año</option>
                    <!-- Generar opciones para los proximos 20 años -->
                    <script>
                        const currentYear = new Date().getFullYear();
                        for (let i = currentYear; i <= currentYear + 20; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>

            <label for="cvv">Codigo de Seguridad</label>
            <input type="text" id="cvv" name="cvv" required>

            <label>Frecuencia de donacion</label>
            <select id="frecuenciaDonacion" name="frecuenciaDonacion" required>
                <option value="01">UNICA</option>
                <option value="02">PERIODICA</option>
            </select>

           <div class="text-right">
                <button type="submit" class="btn-donar">Donar</button>
            </div>
            {{#errorDonacion}}
                <div class="error-message">{{errorDonacion}}</div>
            {{/errorDonacion}}
        </form>
    </div>
</main>

{{>footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
