<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex-grow: 1;
            padding: 50px;
            background-color: white;
        }
        .btn-agregar-producto {
            background-color: #1e5552;
            color: white;
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            display: flex;
            flex-direction: column;
            height: 300px; /* Altura fija para todas las cards */
            width: 100%;
            max-width: 300px;
            margin: 10px;
        }
        .card-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .placeholder-img {
            background-color: gray;
            height: 150px;
        }
        h5 {
            margin: 0;
            color: black;
        }
        .recibirTarj {
            background-color: #1e5552;
            color: white;
            margin-right: 0;
            margin-left: 907px;
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
        .solicitudAprobada {
            color: green;
            font-size: 14px;
            margin-top: 10px;
        }
        .btn-solicitar {
            background-color: #002B80;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: 600;
        }
        .btn-solicitar:hover {
            background-color: #00215c;
            text-decoration: none;
        }
        .card-title {
            font-weight: 700;
            font-family: 'Poppins', sans serif;
            margin-top: 20px;
        }
    </style>
</head>

<body>

{{>header}}
<main>
    <div class="container mb-5">
        <div class="card-container mt-5 text-center">
            <div class="card">
                <a href="/agregarHeladera">
                    <img src="/static/hacerseCargoHeladera.png" alt="Imagen" class="img-fluid" style="max-height: 150px; width: 100%; object-fit: cover;">
                </a>
                <div class="card-body">
                    <a href="/agregarHeladera" class="text-dark">
                        <h5 class="card-title">Agregar Heladera</h5>
                    </a>
                    <p class="card-text">Hazte cargo de una nueva heladera para disponer alimento.</p>
                </div>
            </div>
            <div class="card">
                <a href="/donarDinero">
                    <img src="/static/donarDinero.jpg" alt="Donar Dinero" class="img-fluid" style="max-height: 150px; width: 100%; object-fit: cover;">
                </a>
                <div class="card-body">
                    <a href="/donarDinero" class="text-dark">
                        <h5 class="card-title">Donar Dinero</h5>
                    </a>
                    <p class="card-text">Ayuda a las organizaciones a brindar un mejor servicio.</p>
                </div>
            </div>
        </div>
    </div>
</main>

{{>footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
