<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluye archivo css -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<footer class="footer-bg">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-3 text-center text-md-left">
                <img src="/static/logo.png" alt="Logo" class="img-fluid mb-2" style= "max-height: 90px;"> <!-- Reemplaza con tu logo -->
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Más Información -->
                    <div class="col-md-4">
                        <h5>Más información</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Contáctanos</a></li>
                            <li><a href="#" class="footer-link">Sobre nosotros</a></li>
                            <li><a href="#" class="footer-link">Sobre el proyecto</a></li>
                        </ul>
                    </div>

                    <!-- Donar -->
                    <div class="col-md-4">
                        <h5>Donar</h5>
                        <ul class="list-unstyled">
                            <li><a href="/donarVianda" class="footer-link">Donar vianda</a></li>
                            <li><a href="/mapaHeladeras" class="footer-link">Ver mapa</a></li>
                        </ul>
                    </div>

                    <!-- Dónde encontrarnos -->
                    <div class="col-md-4">
                        <h5>Dónde encontrarnos</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link"><img src="/static/facebook-icon.png" alt="Facebook" style="max-height: 20px;" ><i class="fab fa-facebook-f social-icon"></i>Facebook</a></li>
                            <li><a href="#" class="footer-link"><img src="/static/instagram-icon.png" alt="Instagram" style="max-height: 20px;"><i class="fab fa-instagram social-icon"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>