<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <!-- Incluye Tipografias -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluye archivo css -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<header>
    <div class="">
        <a href="/inicio">
            <img src="/static/logo.png" alt="Logo" style="max-height: 50px;" class="ml-5">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/elegirDonacion">Donar</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/mapaHeladeras">Heladeras</a>
                </li>
                {{#logueado}}
                    <!-- Menú desplegable -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{nombreUsuario}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/perfil">Mi perfil</a>
                            <a class="dropdown-item" href="/misColaboraciones">Mis colaboraciones</a>
                            <a class="dropdown-item" href="/canjearPuntos">Mi puntaje</a>
                            <a class="dropdown-item" href="/misReportes">Mis reportes</a>
                            <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                        </div>
                    </li>
                {{/logueado}}
                {{^logueado}}
                    <li class="nav-item">
                        <button class="btn-inicia-sesion" onclick="window.location.href='/login'">Iniciar Sesión</button>
                    </li>
                {{/logueado}}
            </ul>
        </div>
    </nav>
</header>
</html>