<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesión</title>
        <!-- Incluye Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Incluye archivo css -->
        <link href="/static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        <main class="d-flex justify-content-center align-items-center">
            <div class="container m-5 d-flex justify-content-center align-items-center" id="contenedor-inicio" >
                <div class="main-content mr-5">
                    <h1 class="mb-3" id="bienvenido">Bienvenido!</h1>
                    <h3 style="font-family: 'Poppins', sans-serif;" class="mb-2">Realice o administre aquí su donación.</h3>
                    <button class="btn-donar mt-2" onclick="window.location.href='/elegirDonacion'">Donar</button>
                </div>
                <div class="image-placeholder ml-5">
                    <img src="/static/home.png" alt="Imagen" style="max-width: 100%; max-height: 100%; border-radius: 8px;">
                </div>
            </div>
        </main>

        {{> footer}}

    <!-- Incluye Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
