<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        main {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }

        .login-container {
            max-width: 600px;
            margin: 50px auto;
            width: 100%;
            background-color: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .login-container h2 {
            margin-bottom: 20px;
        }

        .login-container input[type="email"],
        .login-container input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .login-container input.invalid {
            border-color: red;
        }

        .login-container a {
            display: block;
            margin-top: 20px;
            color: gray;
            text-decoration: none;
        }

        .login-container p:last-child {
            margin-top: 20px;
            font-size: 14px;
            color: gray;
        }

        .login-container p:last-child a {
            margin-left: 5px;
            text-decoration: none;
            color: black;
        }

        .error-message {
            color: red;
            font-size: 14px;
            display: none;
        }


        .btn-common {
            width: calc(100% - 20px);
            padding: 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
        }

        .continuar-btn {
            background-color: #04308d;
            color: white;
            margin-top: 10px;
            font-weight:500;
        }

        .continuar-btn:hover {
            background-color: #152855;
        }

        .crear-btn {
            background-color: #B7C9C7;
            border-color: #B7C9C7;
            color: #1e5552;
            font-weight:500;
        }

        .crear-btn:hover {
            background-color: #A0B0AF;
        }

        .sso-btn {
            background-color: #1e5552;
            color: white;
            margin-top: 10px;
            font-weight:500;
        }

        .sso-btn:hover {
            background-color: #143c3a;
        }
    </style>
</head>
<body>

{{>header}}

<main>
    <div class="login-container">
        <h2 style="font-weight:700; font-family: 'Poppins', sans serif;">Iniciar sesión</h2>
        <!-- {{#error}}
            <p class="error-message">{{error}}</p>
        {{/error}} -->
        <form action="/login" method="post">
            <p style="font-weight:500; text-align:left; margin-left: 15px;">Ingresa tu correo electrónico</p>
            <input type="email" name="email" placeholder="correo@dominio.com" required>
            <p style="font-weight:500;text-align:left; margin-left:15px;">Ingresa tu contraseña</p>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            <button class="continuar-btn btn-common" type="submit">Continuar</button>
            <button class="sso-btn btn-common" onclick="window.location.href='/loginSSO'">Ingresar por SSO</button>

            {{#errorLogin}}
                <div class="alert alert-danger mt-3">{{errorLogin}}</div>
            {{/errorLogin}}
        </form>
        <p class="mt-4 mb-2" style="font-weight:500;">¿No tenés una cuenta? </p>
        <button class="crear-btn btn-common" onclick="window.location.href='/elegirRegistroCuenta'">Crear cuenta</button>
        <p>Al hacer clic en continuar, estás aceptando nuestra <a style="font-weight:500;" href="#">política de privacidad y términos de uso</a></p>
    </div>
</main>

{{>footer}}

<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>