<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de Heladeras</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .social-icons {
            display: flex;
            gap: 10px;
        }

        .social-icons img {
            width: 24px;
            height: 24px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-color: white;
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            margin-top: 30px;

        }
        p {
            margin-bottom: 20px;
        }

        .info {
            margin-bottom: 15px;
        }

        .info span {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .action-link {
            display: block;
            color: black;
            text-decoration: none;
            margin-top: 10px;
            font-weight: bold;
        }

        .action-link::after {
            content: ">";
            padding-left: 5px;
        }

        main {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }

        h2 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: #1e5552; /* Color de texto */
             font-size: 20px;

        }

        h7 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: black; /* Color de texto */
            font-size: 15px;
        }


        .btn-primary {
            background-color: #B7C9C7;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 3px 7px;
            cursor: pointer;
            font-size: 13px;
        }

        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }

        .footer-bg {
            background-color: #B7C9C7; /* Color de fondo */
            padding: 20px 0; /* Espaciado superior e inferior */
        }
        .social-icons a {
            margin-right: 15px; /* Espacio entre iconos de redes sociales */
            color: white; /* Color de texto para iconos */
        }
        .footer-link {
            color: white; /* Color de texto para enlaces */
            text-decoration: none; /* Eliminar subrayado */
        }
        .footer-link:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }

        .social-icon {
            margin-right: 10px; /* Espacio entre el ícono y el texto */
        }

        #map {
            width: 100%;
            height: 600px;
            border-radius: 10px;
        }

        .list-group-item {
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;
            background-color: #ebece3;
            transition: background-color 0.3s;
            margin-bottom: 7px;
        }

        .list-group-item:hover {
            background-color: #e2e6ea;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            height: 100%; /* Asegura que el body y html ocupen el 100% de la altura */
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header .navbar-nav .nav-link {
            font-size: 17px !important; /* Ajusta el tamaño de la fuente de los enlaces de navegación en el header */
        }
        nav {
            margin-top: 20px; /* Ajusta el valor según el espacio deseado */
        }

        /*Dropdown*/
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .dropdown-menu {
            background-color: #ffffff;
            color: #1e5552;
            font-size: 16px;
            font-weight: normal;
        }

        .navbar-light .dropdown-menu {
            width: 200px;
        }
        .navbar-light .dropdown-menu a.dropdown-item {
            color: #1e5552;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            width: 200px;

        }

        .navbar-light .dropdown-menu a.dropdown-item:hover {
            background-color: #ffffff;
            margin: 0;
            width: 200px;
        }

        /*fin dropdown*/

        .no-arrow-select {
              display: block;
              width: 27.5%;
              height: 1.5rem; /* Altura reducida */
              padding: 0.1rem 0.3rem; /* Menor espacio interno */
              font-size: 0.875rem; /* Tamaño de texto más pequeño */
              line-height: 1.25; /* Ajusta la altura de línea */
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
          appearance: none; /* Quita la flecha en navegadores compatibles */
        }

        .custom-select {
              display: block;
              width: 100%;
              height: 1.5rem; /* Altura reducida */
              padding: 0.1rem 0.3rem; /* Menor espacio interno */
              font-size: 0.875rem; /* Tamaño de texto más pequeño */
              line-height: 1.25; /* Ajusta la altura de línea */
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
        }

        .custom-select2 {
              display: block;
              width: 60%;
              height: 1.5rem; /* Altura reducida */
              padding: 0.1rem 0.3rem; /* Menor espacio interno */
              font-size: 0.875rem; /* Tamaño de texto más pequeño */
              line-height: 1.25; /* Ajusta la altura de línea */
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
        }

        .header-title {
            font-size: 15px;
            margin-bottom: 5px;
            color: #495057;
        }

      </style>

</head>
<body>

{{>header}}

<main class="container-fluid">
    <h1 class="mb-5" style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1e5552;">Visualización de heladeras</h1>
    <div class="row">
        <div class="col-md-7">
            <div id="map"></div>
        </div>
        <div class="col-md-5 mt-4 mt-md-0">
            <h3 style="font-family: 'Poppins'; font-weight: 600; font-size: 36px">{{nombre}}</h3>
            <p>{{direccion}}</p>

            <div class="info">
                <span>Estado</span>
                {{estado}}
            </div>

            <div class="info">
                <span>Disponibilidad</span>
                {{disponibilidad}} viandas
            </div>

            <div class="info">
                <span>Fecha de inicio de funcionamiento</span>
                {{fecha}}
            </div>

            <a href="/visualizarAlertas?heladeraId={{heladeraId}}" class="action-link">Alertas</a>
            <a href="/visualizarFallasTecnicas?heladeraId={{heladeraId}}" class="action-link">Fallas técnicas</a>
            <p>  </p>
            <hr style="margin: 0; padding: 0; border: 0; border-top: 2px solid #D3D3D3;">
            <p>  </p>
            {{#notificacionSuscripcion}}
                <div class="text-{{tipo}}">{{mensaje}}</div>
            {{/notificacionSuscripcion}}
            <form id="suscripcionForm" action="/suscribirse" method="post">
                <div style="display: inline-flex; gap: 20px">

                    <h2 class="info"  style="font-family: 'Poppins'; font-weight: 600; font-size: 24px; margin-top: 10px;" >Suscripciones</h2>

                    <select class="custom-select my-1 mr-sm-2" id="filterSelect" name="tipoSuscripcion" onchange="toggleSuscripcionVianda()">
                        <option value="" disabled selected>Elegir tipo suscripción...</option>
                        <option value="1">Notificarme cuando queden pocas viandas</option>
                        <option value="2">Notificarme cuando quede poco espacio en la heladera</option>
                        <option value="3">Notificarme cuando haya un desperfecto</option>
                    </select>
                </div>

                <div id="suscripcion-vianda" style="display: none;">
                    <h7 class="header-title" style="display: inline-block; margin-right: 10px;">Ingrese cantidad de viandas</h7>
                    <input class="no-arrow-select" type="text" id="cantidad" name="cantidad" style="display: inline-block;">
                </div>

                <input type="hidden" id="nombre" name="nombre" value="{{nombre}}" >
                <input type="hidden" id="direccion" name="direccion" value="{{direccion}}" >
                <input type="hidden" id="latitud" name="latitud" value="{{latitud}}" >
                <input type="hidden" id="longitud" name="longitud" value="{{longitud}}" >
                <input type="hidden" id="fecha" name="fecha" value="{{fecha}}" >
                <input type="hidden" id="estado" name="estado" value="{{estado}}" >
                <input type="hidden" id="disponibilidad" name="disponibilidad" value="{{disponibilidad}}" >

                <div id="suscribirse-container" style="display: none; margin-top: 10px;">
                    <input type="hidden" name="heladeraId" value="{{heladeraId}}">
                    <select class="custom-select2 my-1 mr-sm-2" id="medioContacto" name="medioDeContacto" ">
                        <option value="" disabled selected>Elegir medio de contacto</option>
                        {{#medios}}
                            <option value="{{tipo}}" >{{tipo}}</option>
                        {{/medios}}

                    </select>

                    <button type="submit" class=" btn-primary">Suscribirme</button>
                </div>
            </form>

        </div>
    </div>
</main>
<!-- AIzaSyBb5mC9pmmrsoAdUAxHfvE4Z2iW260tlUY -->

{{>footer}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb5mC9pmmrsoAdUAxHfvE4Z2iW260tlUY"></script>
<script>

    let map;
    let markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.599722, lng: -58.381944 },
            zoom: 13
        });

        const marker = new google.maps.Marker({
            position: { lat: {{latitud}}, lng: {{longitud}} },
            map: map,
            title: '{{nombre}}',
        });

        markers.push(marker);
    }

    document.addEventListener("DOMContentLoaded", initMap);
</script>

<script>
    // Función para obtener el valor de un parámetro de la URL
    function getParameterByName(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    // Obtener el nombre de la heladera de la URL
    const heladeraName = getParameterByName('name');

    // Mostrar los detalles de la heladera
    document.getElementById('heladeraDetails').innerText = `Mostrando detalles para la heladera: ${heladeraName}`;

    // Redirigir al archivo de fallas técnicas con el nombre de la heladera
    document.getElementById('fallasTecnicasBtn').addEventListener('click', function() {
        window.location.href = `/visualizarFallasTecnicas?name=${heladeraName}`;
    });
</script>


<script>
    function toggleSuscripcionVianda() {
        // Obtiene el valor seleccionado del desplegable
        const selectedValue = document.getElementById('filterSelect').value;

        // Referencias a las secciones
        const suscripcionVianda = document.getElementById('suscripcion-vianda');
        const suscribirseContainer = document.getElementById('suscribirse-container');

        // Lógica para mostrar u ocultar las secciones
        if (selectedValue === '1' || selectedValue === '2') {
            suscripcionVianda.style.display = 'block'; // Mostrar input de viandas
        } else {
            suscripcionVianda.style.display = 'none'; // Ocultar input de viandas
        }

        if (selectedValue === '1' || selectedValue === '2' || selectedValue === '3') {
            suscribirseContainer.style.display = 'block'; // Mostrar botón de suscribirse
        } else {
            suscribirseContainer.style.display = 'none'; // Ocultar botón de suscribirse
        }
    }
</script>
<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>