<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fallas técnicas</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .social-icons {
            display: flex;
            gap: 10px;
        }

        .social-icons img {
            width: 24px;
            height: 24px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-color: white;
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header .navbar-nav .nav-link {
            font-size: 17px !important; /* Ajusta el tamaño de la fuente de los enlaces de navegación en el header */
        }
        nav {
            margin-top: 20px; /* Ajusta el valor según el espacio deseado */
        }

        /*Dropdown*/
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .dropdown-menu {
            background-color: #ffffff;
            color: #1e5552;
            font-size: 16px;
            font-weight: normal;
        }

        .navbar-light .dropdown-menu {
            width: 200px;
        }
        .navbar-light .dropdown-menu a.dropdown-item {
            color: #1e5552;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            width: 200px;

        }

        .navbar-light .dropdown-menu a.dropdown-item:hover {
            background-color: #ffffff;
            margin: 0;
            width: 200px;
        }

        /*fin dropdown*/
        main {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }


        .fallas-container {
            max-width: 2000px;
            margin: 50px auto;
            width: 90%;
        }

        h1 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .falla {
            background-color: #B7C9C7;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        .falla h2 {
            margin: 0 0 5px 0;
            font-size: 18px;
        }

        .falla p {
            margin: 5px 0;
            color: black;
        }

        .volver-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .volver-link {
            margin-bottom: 10px;
            color: #1e5552;
        }

        .btn {
            width: auto;
        }

        .report-button {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            background-color: #1e5552;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }
        .report-button:hover {
            background-color: #1e5552;
            color:#ffffff;
        }
        .button-container {
            text-align: right;
        }
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .dropdown-menu {
            background-color: #ffffff;
            color: #1e5552;
            font-size: 16px;
            font-weight: normal;
        }

        .navbar-light .dropdown-menu {
            width: 200px;
        }
        .navbar-light .dropdown-menu a.dropdown-item {
            color: #1e5552;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            width: 200px;

        }

        .navbar-light .dropdown-menu a.dropdown-item:hover {
            background-color: #ffffff;
            margin: 0;
            width: 200px;
        }

        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }

        h2 {
            font-size: 16px; /* Ajusta el tamaño de la fuente de los headers */
        }


        .footer-bg {
            background-color: #B7C9C7; /* Color de fondo */
            padding: 20px 0; /* Espaciado superior e inferior */
        }
        .social-icons a {
            margin-right: 15px; /* Espacio entre iconos de redes sociales */
            color: white; /* Color de texto para iconos */
        }
        .footer-link {
            color: white; /* Color de texto para enlaces */
            text-decoration: none; /* Eliminar subrayado */
        }
        .footer-link:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }

        .social-icon {
            margin-right: 10px; /* Espacio entre el ícono y el texto */
        }
    </style>
</head>
<body>

<header>
    <div class="p-3">
        <a href="/inicio">
            <img src="/static/logo.png" alt="Logo" style="height: 50px;">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/elegirDonacion">Donar</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/mapaHeladeras">Heladeras</a>
                </li>
                <!-- Menú desplegable -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nombreUsuario}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/perfil">Mi perfil</a>
                        <a class="dropdown-item" href="/misColaboraciones">Mis colaboraciones</a>
                        <a class="dropdown-item" href="/canjearPuntos">Mi puntaje</a>
                        <a class="dropdown-item" href="/misReportes">Mis reportes</a>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="fallas-container">
        <div class="volver-container">
            <a href="/mapaHeladeras" class="volver-link">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>

        <h1>Fallas Técnicas</h1>

        {{#detalleFallas}}
            <div class="falla">
                <h2>{{descripcion}}</h2>
                <p>Fecha: {{fechaHoraIncidente}}</p>
                <p>Estado: {{#estaSolucionado}}solucionado{{/estaSolucionado}}{{^estaSolucionado}}pendiente de solucion{{/estaSolucionado}}</p>
            </div>
        {{/detalleFallas}}

        <div class="button-container">
            <a href="/reportarFallaTecnica?heladeraId={{heladeraId}}" class="report-button">Reportar Falla Técnica</a>
        </div>
        {{#notificacionAlerta}}
            <div class="text-{{tipo}}">{{mensaje}}</div>
        {{/notificacionAlerta}}

    </div>
</main>

<footer class="footer-bg">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-3 text-center text-md-left">
                <img src="/static/logo.png" alt="Logo" class="img-fluid mb-2" style= "max-height: 90px;"> <!-- Reemplaza con tu logo -->
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Más Información -->
                    <div class="col-md-4">
                        <h5>Más información</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Contáctanos</a></li>
                            <li><a href="#" class="footer-link">Sobre nosotros</a></li>
                            <li><a href="#" class="footer-link">Sobre el proyecto</a></li>
                        </ul>
                    </div>

                    <!-- Donar -->
                    <div class="col-md-4">
                        <h5>Donar</h5>
                        <ul class="list-unstyled">
                            <li><a href="/donarVianda" class="footer-link">Donar vianda</a></li>
                            <li><a href="/mapaHeladeras" class="footer-link">Ver mapa</a></li>
                        </ul>
                    </div>

                    <!-- Dónde encontrarnos -->
                    <!-- Dónde encontrarnos -->
                    <div class="col-md-4">
                        <h5>Dónde encontrarnos</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link"><img src="/static/facebook-icon.png" alt="Facebook" style="max-height: 20px;" ><i class="fab fa-facebook-f social-icon"></i>Facebook</a></li>
                            <li><a href="#" class="footer-link"><img src="/static/instagram-icon.png" alt="Instagram" style="max-height: 20px;"><i class="fab fa-instagram social-icon"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
